<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>267221773381-869ocfctd4j1tp3657lbukv5p2u57crp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267221773381-869ocfctd4j1tp3657lbukv5p2u57crp</string>
	<key>API_KEY</key>
	<string>AIzaSyCrTHzccFMbmuP1gpb25BjwNFkOm-gPypA</string>
	<key>GCM_SENDER_ID</key>
	<string>267221773381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.branch-brunch.meal-deals</string>
	<key>PROJECT_ID</key>
	<string>meal-deal-160917</string>
	<key>STORAGE_BUCKET</key>
	<string>meal-deal-160917.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:267221773381:ios:d699191348fdd941</string>
	<key>DATABASE_URL</key>
	<string>https://meal-deal-160917.firebaseio.com</string>
</dict>
</plist>